body{
    background-color: rgb(165, 165, 237);
}

hr{
    border-radius: 5px;
    border:2px solid;
    border-color: rgb(61, 43, 92);
    border-width: 2px;
    
}

h1{
    background-color: rgb(158, 111, 235);
    text-align: center;
    font-family: monospace;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}

.header{
    width: 80%;
    background-color:indigo;
    height: 100%;
    margin: auto;
    border: 6px;
    border-radius: 7px;
}